﻿body {
    font-family: "Nunito", sans-serif;
}

.lastuplodedfile {
    margin-top: 8px;
}

#main .card {
    margin-bottom: 15px;
}

.uploadfilebtn {
    float: right;
    margin-top: 10px;
    width: 100px;
    margin-right: 5px;
}

#processdata__btn {
    float: right;
    margin-top: 10px;
    width: 110px;
}

#processdata__btn1 {
    float: right;
    margin-top: 10px;
    width: 110px;
}

.mt8 {
    margin-top: 8px;
}

#displayCounts {
    display: none;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dataTable-top {
    display: none !important;
}

#Alluploadeddata table th {
    white-space: nowrap;
}

#Alluploadeddata table td {
    border-top: thin solid;
    border-bottom: thin solid;
    border-color: lightgrey;
}

    #Alluploadeddata table td:first-child {
        border-left: thin solid;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-color: lightgrey;
    }

    #Alluploadeddata table td:last-child {
        border-right: thin solid;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-color: lightgrey;
    }


#Alluploadeddata .table-header, .table-body {
    display: flex;
    width: 100%;
}

#mismatchdataappend .cell {
    padding: 10px;
    margin: 5px;
}


.div-row {
    display: flex;
}

.mismatch {
    background: #ff5a1a85;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
}

._actual {
    background: #28ff1a85;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
}

.mismatchrecordrow {
    display: flex;
    align-content: center;
    align-items: center;
}

#Alluploadeddata table tr td {
    white-space: nowrap;
}


#Processbtnallnewrecordbtn, #table_card, #rejectselectedbtn {
    display: none;
}

.orig {
    padding-left: 16px;
}

#Processbtn {
    display: none;
}


/*#viewalluploaddata {
    display:none;
    float: right;
    margin-bottom: 10px;
}*/

.DistributorDetails {
    width: 100%;
    display: flex;
}

.ProfileImg {
    width: 30%;
}

    .ProfileImg img {
        width: 60px;
        height: 60px;
        background: white;
        border-radius: 10px;
    }

.OtherDetails {
    width: 70%;
}

.OrderDate {
    white-space: nowrap;
}

.AllotDevice {
    white-space: nowrap;
}

.modal-div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0000002b;
    z-index: 99;
    padding: 10px;
    padding-top:70px;
    display:none;
}

.modal-div-content {
    background: white;
    width: 924px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.modal-div-header {
    display: flex;
    width:100%;
}

.NewDealerDistributorRegistrationForm, .NewDealerDistributorRegistrationForm  .card{
    padding: 10px;
}

    .NewDealerDistributorRegistrationForm input {
        background: #f9f9f9;
        mix-blend-mode: normal;
        box-shadow: 0px 2px 8px rgb(0 0 0 / 16%);
        border-radius: 10px;
        border: none !important;
        outline: none !important;
    }

.DistributorAvtarBox img {
    width: 100%;
    height: 100%;
}

.bi-sim-fill{
    color:red;
}

.devicestatus {
    background: #00e77c;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.FormBody__ .card {
    border: 1px solid;
    border-color: #d2e4ff;
}

.alert-info {
    background: #97FFC1;
    box-shadow: inset 0px 0px 5px rgba(150, 150, 150, 0.25);
    border-radius: 10px;
    margin-bottom:0!important;
}

.uploaddivclass {
    margin-top: -50px;
    margin-left: 15px;
}
 