﻿body {
    font-family: "Nunito", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.card {
    padding: 10px;
    margin-bottom: 30px;
}

.box {
    width: 100%;
    height: 100%;
    background: #F7F7F7;
    box-shadow: 0px 0px 5px rgba(150, 150, 150, 0.25);
    border-radius: 20px;
    padding: 10px;
    min-height: 125px;
}

.DistributorAvtarBox {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(150, 150, 150, 0.25);
    background-color: white;
}

.DistributorDetails {
    display: flex;
    width: 100%;
    color: gray;
}

.DistributorDetailsBox {
    width: 70%;
    padding-left: 20px;
}


.CompleteAddress, .ContactNumber {
    font-size: 15px;
}

.orderdevice {
    background-color: #EEFFAB;
}


.DistributorAvtarBox img {
    width: 100%;
    height: 100%;
}


.orderdevice {
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.box h5 {
    color: #4659f2;
}

#TotalCount, #TotalCountstock {
    font-size: 30px;
    font-weight: bold;
    color: gray;
}

.modal-header {
    border-bottom: 0px solid #dee2e6;
}


#floatingInputQty {
    background: #F4F4F4;
    mix-blend-mode: normal;
    border-radius: 10px;
}

#NewRequestModal input {
    background: #F4F4F4;
    mix-blend-mode: normal;
    border-radius: 10px;
}


.BtnStyle {
    height: 40px;
    min-width: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: white;
}

.btn-default {
    background: grey;
    margin-right:10px;
}
    .btn-default:hover{
        color:white!important;
    }

    .buttons {
        text-align: center;
    }

.uploadBtn {
    float: right;
    margin-top: 10px;
}


.NewDealerRegistration input {
    background: #f9f9f9;
    mix-blend-mode: normal;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    border: none !important;
    outline: none !important;
}

#UserType {
    background: #f9f9f9;
    mix-blend-mode: normal;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    border: none !important;
    outline: none !important;
}



.NewDealerRegistration label {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    color: #899bbd;
    font-weight: 600;
}

.form-control:focus {
    box-shadow: none !important;
    border: 1px solid lightgrey !important;
}

.DealerBox {
    min-height: 65px;
    background: rgba(161, 207, 199, 0.33);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

    .DealerBox h6 {
        font-size: 14px;
        font-weight: bold;
    }

.values {
    font-weight: bold;
}

.FormBody__ {
    display: none;
    margin-top:30px;
}

.dataTable-top {
    display: none;
}

.form-body {
    display: none;
}

.form-header h4 {
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-bottom: 0 !important;
    font-size: 18px;
    font-weight: 600;
}

.FormBody__ .card {
    background: rgb(230 240 255);
}

.form-body {
    background: white;
    padding: 10px;
    border-radius: 10px;
}
.form-header{
    cursor:pointer;
}

.angles{
    float:right;
}

#Distributor_submitbtn, #Cancelbtn, #ResetFields {
    float: right;
    display: none;
}

.dataTable-bottom{
    display:none!important;
}