﻿.loader {
    margin: 0;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000000f;
}

.lightgreen,
.darkgreen {
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.lightgreen {
    z-index: 999;
    background-color: rgba(39, 232, 56, 0.3);
    animation: hide1 3s ease infinite;
}

.darkgreen {
    background-color: RGBA(2, 106, 93, 0.4);
    animation: hide2 3s ease infinite;
}

@keyframes hide1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hide2 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}
