﻿body {
    margin:0;
    padding:0;
}

#loginbody {
    background-image: url('../assets/img/bg-01.jpg');
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap-login100 {
    width: 680px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}

.p-r-110 {
    padding-right: 110px;
}

.p-l-110 {
    padding-left: 110px;
}

.p-b-33 {
    padding-bottom: 33px;
}

.p-t-62 {
    padding-top: 30px;
}

@media screen and (max-width:767px){
    .p-r-110 {
        padding-right: 30px!important;
    }

    .p-l-110 {
        padding-left: 30px!important;
    }
}

.loginimg{
    width:100%;
    height:180px;
}


#generated-captcha {
    text-decoration: line-through;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    background-color: #ede7f6;
    border-radius: 6px;
    border: none;
    padding: 6px;
    outline: none;
    color: #1d1d1d;
    width: 100%;
}

#entered-captcha {
    border: 2px solid #c5c7f7;
    font-family: monospace;
    outline: none;
    border-radius: 6px;
    padding: 8px 15px;
    font-size: 12px;
}



#captchaarea button {
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-family: monospace;
    font-weight: bold;
    outline: none;
    background-color: #64f394;
    width: 100%;
}

#gen {
    background-color: #ee7e6a;
}

.wrappr {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

#captchaarea {
    background: aliceblue;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

#refreshbtn {
    display: none;
    position: absolute;
    right: 50px;
    margin-top: -32px !important;
}

@media screen and (max-width:767px) {
    #gen {
        display: none;
    }

    #refreshbtn {
        display: block;
        position: absolute;
        right: 50px;
        margin-top: -32px !important;
    }
}
.login-logo {
    height: 40px;
    width: 130px;
}